# backup files created by emacs, by default
*~

# OSX custom attribute store
.DS_Store

# Java class files
*.class

# IntelliJ IDEA related files
/.idea
*.iml

# Gradle build output directory
/.gradle
build
